@tailwind base;
@tailwind components;
@tailwind utilities;

*::selection {
  background: #c1f5fe;
}

.teacher, .teacher-img, img {
  transition: all .4s ease;
}

.teacher:hover {
  border-color: #00B4D8;
}

.teacher:hover .teacher-img {
  background-color: #00B4D8;
}

.teacher:hover .teacher-img img {
  transform: scale(1.2);
}
